*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #f8f9fd;
  color: #020307;
}
html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: inherit;
  padding-bottom: 10px;
  transition: background-color 1s ease;
}
.header .header__container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__logo {
  z-index: 5;
  font-size: 26px;
  color: #081468;
  font-weight: bold;
  padding-top: 10px;
}
.header._scrolled {
  background-color: #f0f3fede;
}

.menu .menu__icon {
  display: none;
}
.menu .menu__list > li {
  position: relative;
  font-weight: bold;
  font-size: 15px;
}
.menu .menu__link {
  margin: 0px 0px 0px 20px;
  padding: 10px 20px;
  color: #2a1a59;
  align-items: center;
  border: 2px transparent solid;
}
.menu .menu__link.menu__link_active {
  color: #1b1c2e;
}
.menu .menu__link.menu__link_bordered {
  border-color: #2a1a59;
}

.page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  max-width: 1280px;
  margin: 0px auto;
}
.section.section__contact {
  margin-top: 150px;
  padding: 40px;
}
.section.section__about {
  margin-top: 20px;
  display: flex;
}
.section.section__about > div {
  width: 33%;
}
.section.section__more {
  margin-top: 100px;
  text-align: center;
}

.separator {
  max-width: 100%;
  background-color: #fff;
}
.separator .separator__top {
  background: #f8f9fd;
  height: 30px;
  clip-path: polygon(0 0, 68% 100%, 100% 0);
}
.separator .separator__middle {
  height: 20px;
}
.separator .separator__bottom {
  background: #f8f9fd;
  height: 35px;
  clip-path: polygon(0 100%, 30% 0, 100% 100%);
}

.contact {
  display: flex;
}
.contact .contact__content {
  width: 50%;
}
.contact .contact__label {
  font-size: 50px;
  font-weight: bold;
  color: #172681;
}
.contact .contact__description {
  margin-top: 40px;
  line-height: 40px;
  font-size: 23px;
}
.contact .contact__image {
  width: 50%;
  text-align: center;
}
.contact .contact__buttons {
  display: flex;
  margin-top: 35px;
}
.contact .contact__buttons .contact__button-show {
  margin-right: 25px;
}
.contact .contact__buttons .contact__button-link {
  font-weight: bold;
  border-color: #1c2187;
  background-color: inherit;
  color: #020307;
}
.contact .contact__buttons .contact__button-link:hover {
  background-color: #e7effa;
}

.button {
  color: #fff;
  background-color: #1a365b;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 22px;
  border: 4px #1a365b solid;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:hover {
  background-color: #224576;
}

.about-item .about-item__image {
  text-align: center;
}
.about-item .about-item__title {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.about-item .about-item__description {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
  text-align: center;
}

.more .more__button {
  background-color: #192b81;
  border-radius: 0;
}
.more .more__button:hover {
  background-color: #253991;
}

@media (min-width: 872px) {
  .header .header__container {
    padding: 20px 40px 0px;
  }

  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
@media (max-width: 872px) {
  .header .header__container {
    padding: 20px 20px 0px;
  }

  .menu .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu .menu__icon span, .menu .menu__icon::before, .menu .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all ease 0.3s;
    background-color: #3d3252;
  }
  .menu .menu__icon::before, .menu .menu__icon::after {
    content: "";
  }
  .menu .menu__icon::before {
    top: 0;
  }
  .menu .menu__icon::after {
    bottom: 0;
  }
  .menu .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: inherit;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu .menu__body._active {
    left: 0;
    background-color: #f0f3feeb;
  }
  .menu .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    background-color: inherit;
    z-index: 2;
  }
  .menu .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
  }
  .menu .menu__list > li a {
    border-width: 5px;
    margin: 0px;
  }
  .menu .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .button {
    padding: 15px 9px;
  }

  .section.section__contact {
    padding: 10px 10px 30px;
    margin-top: 50px;
  }
  .section.section__about {
    flex-direction: column;
  }
  .section.section__about > div {
    margin-top: 40px;
    width: 100%;
  }
  .section.section__about > div:first-child {
    margin-top: 0;
  }

  .contact {
    flex-direction: column-reverse;
  }
  .contact .contact__image {
    width: 100%;
  }
  .contact .contact__image svg {
    width: 150px;
    height: 150px;
  }
  .contact .contact__content {
    width: 100%;
  }
  .contact .contact__label {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
  }
  .contact .contact__description {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
